/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }





body {
    background-attachment: fixed;
    background-image: url("http://cl.ly/image/2j192w0A0j37/DeathtoStock_Creative%20Community9.jpg");
    background-position: center center;
    background-size: cover;
    color: #252525;
}
#side-container-div {
    float: left;
    height: 80%;
    margin: 25px 10px 25px 0;
    position: relative;
    width: 30%;
    z-index: 3;
}
#side-panel-div {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    height: 500px;
    margin-top: 40px;
    padding: 5px 0 10px 20px;
    width: 400px;
}





p {
    color: #2f332f;
    font-family: "Roboto",sans-serif;
    font-size: 1em;
    line-height: 120%;
    padding: 10px 20px 0 7px;
}
h1 {
    color: #252525;
    font-family: "Montserrat",sans-serif;
    font-size: 2.4em;
    line-height: 100%;
}
h2 {
    background: none repeat scroll 0 0 #cfc6c2;
    border-bottom-left-radius: 5px;
    color: white;
    font-family: "Montserrat",sans-serif;
    font-size: 1.4em;
    font-weight: lighter;
    letter-spacing: 1.25px;
    margin: 15px 0;
    padding: 10px;
}
a:link {
    color: #ed622b;
}
a:visited {
    color: #b04173;
}
